# -----------------------------
# Python
# -----------------------------
backend/.venv/
backend/__pycache__/
backend/**/*.py[cod]
backend/.env

# -----------------------------
# Node
# -----------------------------
frontend/node_modules/
frontend/dist/

# -----------------------------
# Environment files
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db